.userBoxInfo__projectContent {
    height: 20vw;
    min-width: 450px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    border-radius: 20px;

    margin: 0 2rem;
    padding: 2rem;

    box-sizing: border-box;

    gap: 2rem 0;

}

.userBoxInfo__projectTitle {
    font-size: 2.5vw;

    height: auto;
    padding: 1rem;
    text-align: left;

    overflow: hidden;

    font-family: InterBold;
}

.userBoxInfo__private {
    font-size: 2vw;

    padding-left: 1rem;

    font-family: InterMedium;
}

.userBoxInfo__link {
    color: rgb(72, 72, 224);

    font-family: RobotoMedium;
    font-size: 2vw;

    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.userBoxInfo__link:hover {
    opacity: .7;
}

.userBoxInfo__buttonMore {
    width: 50vw;

    padding: 2rem 0;
    margin: 2vw auto;

    box-sizing: border-box;

    border-radius: 40px;
    border: none;

    font-size: 2vw;

    font-family: RobotoBold;
}

.userBoxInfo__buttonMore:hover {
    cursor: pointer;

    transition: .8s;
}

@media screen and (min-width:1600px) {
    .userBoxInfo__projectContent {
        min-width: 30vw;
    }
}

@media screen and (max-width:1500px){
    .userBoxInfo__projectContent{
        margin: 1rem;
    }

    .userBoxInfo__projectTitle{
        padding: 0;
        padding-bottom: .2rem;
    }
}

@media screen and (max-width:1100px){
    .userBoxInfo__projectContent{
        height: 250px;
        width: 450px;
    }

    .userBoxInfo__projectTitle{
        font-size: 2rem;
    }

    .userBoxInfo__private{
        font-size: 2rem;
    }

    .userBoxInfo__link{
        font-size: 1.5rem;
    }

    .userBoxInfo__buttonMore{
        font-size: 3.5vw;
    }
}

@media screen and (max-width:600px){
    .userBoxInfo__projectContent{
        height: 70%;
        min-width: 80%;
    }

    .userBoxInfo__buttonMore{
        font-size: 5vw;
        width: 80vw;

        padding: 1rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width:460px){
    .userBoxInfo__projectContent{
        margin-bottom: -2rem;
    }

    .userBoxInfo__projectTitle{
        font-size: 1.5rem;
    }

    .userBoxInfo__private{
        font-size: 1.25rem;
    }
}

@media screen and (max-width:380px){
    .userBoxInfo__projectContent{
        min-width: 100%;
    }

    .userBoxInfo__buttonMore{
        font-size: 5vw;
        width: 95vw;
    }
}