.projectsBox {
    height: 16vw;
    width: 90%;

    padding: 2vw 3vw;

    margin: auto;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    border-radius: 40px;
}

.projectsBox:not(:last-child) {
    margin-bottom: 4vw;
}

@media screen and (max-width:800px) {
    .projectsBox {
        flex-direction: column;
        height: auto;

        padding: 2.25rem;
    }

    .projectsBox:not(:last-child) {
        margin-bottom: 8vw;
    }
}

@media screen and (max-width:470px){
    .projectsBox{
        width: 98%;
    }
}