.userNotSearched{
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userNotSearched__titleSearch{
    font-size: 5vw;
    font-family: RobotoBold;

    text-align: center;
}

.userNotSearched__buttonSearch{
    margin-top: 2rem;
    padding: 2rem;

    font-size: 2vw;
    font-family: InterBold;

    border-radius: 30px;

    transition: 1s;
}

.userNotSearched__buttonSearch:hover{
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width:500px) {
    .userNotSearched__buttonSearch{
        font-size: 4vw;
    }

    .userNotSearched__titleSearch{
        font-size: 6vw;
    }
}