.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 8vw;

    padding: 0 2vw;
    box-sizing: border-box;
}

.header>* a:hover {
    cursor: pointer;
    opacity: .7;
    transition: .4s;
}