.header {
    width: 100vw;
    height: 8vw;

    padding: 0 2vw;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    z-index: 99;

    
}

.header>* a:hover , .header > * svg:hover{
    cursor: pointer;
    opacity: .7;
    transition: .4s;
}

.header--desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header--mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.header__box{
    width: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


@media screen and (min-width:750px){
    .header--mobile{
        display: none;
    }
}
@media screen and (max-width:750px){
    .header--desktop{
        display: none;
    }

    .header{
        height: 80px;
    }
}