.detailsContent{
    min-height: 80vh;
    width: 100%;
    padding: 15vw 0;
}

.detailsContent__section{
    width: 90%;
    padding: 3rem 2rem;

    box-sizing: border-box;

    border-radius: 30px;

    margin: auto;


    display: grid;
    grid-template-areas: 
    "image name"
    "image login"
    "initDate totDate"
    "company location"
    "publicRepo type"
    "followers following"
    ;
}

.detailsContent__image{
    grid-area: image;

    width: 30vw;
    border-radius: 50%;

    box-sizing: cover;
}

.detailsContent__name{
    grid-area: name;

    width: 50vw;
    align-self: flex-end;

    font-size: 4vw;
    font-family: InterBold;
}

.detailsContent__login{
    grid-area: login;

    font-size: 3vw;
    font-family: InterMedium;
}

.detailsContent__initDate{
    grid-area: initDate;
}

.detailsContent__totDate{
    grid-area: totDate;
}

.detailsContent__company{
    grid-area: company;
}

.detailsContent__location{
    grid-area: location;
}

.detailsContent__publicRepo{
    grid-area: publicRepo;
}

.detailsContent__type{
    grid-area: type;
}

.detailsContent__followers{
    grid-area: followers;
}

.detailsContent__following{
    grid-area: following;
}


.detailsContent__info{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3vw;

    font-size: 2vw;

    font-family: InterMedium;
}

.detailsContent__info svg {
    margin-left: .5rem;
}