.footer{
    height: 18vw;
    width: 100%;

    padding: 2rem;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width:1000px) {
    .footer{
        height: 23vw;
    }
}

@media screen and (max-width:750px) {
    .footer{
        height: auto;
        padding: 1rem 0;
    }
}