.themeMode{
    width: 5vw;
    font-size: 2vw;

    display: flex;
    align-items: center;
}

@media screen and (max-width:750px) {
    .themeMode{
        font-size: 1rem;
        width: auto;
    }
}